{% extends 'base.html.twig' %}

{% block title %}New Projects{% endblock %}

{% block body %}
<div align="center" class="mx-auto" style="width: 300px;">
    <div class="card border-secondary mb-3" style="width: 14rem;">
    </div>
    <div class="card-body text-secondary">
        <h2 class="card-text">Create new project</h2>
    </div>

    {{ include('projects/_form.html.twig') }}

    <a href="{{ path('projects_index') }}">back to list</a>
{% endblock %}
